body {
  background-color: #E9F7EF ;
  margin: 0;
  padding: 0;
}

header {
  background-color: #4CAF50;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
  color: #ffffff;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.image-container {
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

img {
  max-width: 100%;
  height: auto;
}

.footer {
  text-align: center;
  padding: 20px;
}

.footer a {
  display: inline-block;
  text-decoration: none;
  background-color: #4CAF50;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
}

.footer a:hover {
  background-color: #45a049;
}

